.lso
SERIAL_RX_FIFO.bld
SERIAL_RX_FIFO.cmd_log
SERIAL_RX_FIFO.lso
SERIAL_RX_FIFO.ngc
SERIAL_RX_FIFO.ngr
SERIAL_RX_FIFO.prj
SERIAL_RX_FIFO.stx
SERIAL_RX_FIFO.syr
SERIAL_RX_FIFO.xst
SERIAL_RX_FIFO_envsettings.html
SERIAL_RX_FIFO_ngdbuild.xrpt
SERIAL_RX_FIFO_summary.html
SERIAL_RX_FIFO_xst.xrpt
SERIAL_TX_beh.prj
SERIAL_TX_isim_beh.exe
SERIAL_TX_isim_beh.wdb
SERIAL_TX_stx_beh.prj
_ngo/
*.log
_xmsgs/
fuse.xmsgs
fuseRelaunch.cmd
iseconfig/
isim.cmd
isim/
uart_test.bld
uart_test.lso
uart_test.ncd
uart_test.ngc
uart_test.ngd
uart_test.ngr
uart_test.pad
uart_test.par
uart_test.pcf
uart_test.prj
uart_test.ptwx
uart_test.spl
uart_test.stx
uart_test.sym
uart_test.syr
uart_test.twr
uart_test.twx
uart_test.unroutes
uart_test.xpi
uart_test.xst
uart_test_envsettings.html
uart_test_guide.ncd
uart_test_map.map
uart_test_map.mrp
uart_test_map.ncd
uart_test_map.ngm
uart_test_map.xrpt
uart_test_ngdbuild.xrpt
uart_test_pad.csv
uart_test_pad.txt
uart_test_par.xrpt
uart_test_summary.html
uart_test_summary.xml
uart_test_usage.xml
uart_test_xst.xrpt
webtalk_pn.xml
xilinxsim.ini
xlnx_auto_0_xdb/
xst/
uart_test.cmd_log

FPGAScoreBoard.gise
FPGAScoreBoard.gise2
FPGAScoreBoard.xise
flash_test_beh.prj
uart_test_beh.prj
uart_test_isim_beh.exe
uart_test_isim_beh.wdb
uart_test_isim_beh1.wdb

