*.gise
*.gise2
*.xise
_ngo
iseconfig
isim
xlnx_auto_0_xdb
xst

*.bld
*.stx
*.log
*.xmsgs
*.cmd
*.ptwx
*.spl
*.sym
*.twr
*.twx
*.unroutes
*.xpi
*.map
*.mrp
*.ngm
*.csv
*.ini
*.xst
*.par
*.pad
*.ngr
*.ngd
*.ngc
*.ncd
*.pcf
*.exe
*.wdb
*.xrpt
*.prj
*.cmd_log
*.lso
*.syr
*.html
*.xml
*.txt
netgen/*
